<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="../assets/icon.ico" type="image/x-icon">
    <title>Sync Up</title>
</head>

<body>
    <section id="app">
        <nav>
            <span class="leftSide">
                <a href="#">
                    <b>Sync Up</b>
                </a>
            </span>

            <span class="rightSide">
                <a v-for="header in navHeaders" :href="header.link">{{header.title}}</a>
            </span>
        </nav>


        <section class="header">
            <section class="rightSide">
                <h1>Password</h1>
            </section>

            <section class="leftSide">
                <div class="inputs">
                    <input type="text" placeholder="E-Mail" v-model="userData.mail">
                    <div class="error" v-if="errorData.isError"><b>{{errorData.message}}</b></div>
                </div>
                <button @click="triggerReset">Send Message</button>
            </section>
        </section>

    </section>
    <script src="vue.min.js"></script>
    <script src="../util.js"></script>
    <script src="app.js"></script>
</body>

</html>